# Compiled class filetarget/
.gradle
.idea
/build/
/bin/
/target/
/release/
/.settings/
.project
/*.jar
/*.tar
.attach_pid*
*.iml
*.log
*gradlew
*gradlew.bat
/.ipynb_checkpoints/
/.classpath
/.vscode/
/scratchSpace
/_cryptoguard.source
/rsc/
/__pycache__/
/cfg/
/docs/
/samples/base/

/rsc/
