# Compiled class filetarget/
.gradle
.idea
/build/
/bin/
/target/
/release/
/.settings/
.project
/*.jar
/*.tar
.attach_pid*
docs
*.iml
*.log
*gradlew
*gradlew.bat
/.ipynb_checkpoints/
*.ipynb
/.classpath
/.vscode/
/scratchSpace